body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  text-align: center;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}
/* Header */
header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center;
  background-color: black;
  top: 0;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.header-container {
  display: flex;
  margin: auto;
  height: 100%;
  width: 100%;
  position: fixed;
  align-items: center;
  justify-content: space-between;




  }

header img {
  align-items: baseline;
  height: 50px;
  margin-left: 10px;
}

nav span {
  display: inline-block;
  flex-wrap: wrap;
  padding: 20px 10px;
  text-align: right;
  text-decoration: underline;
  margin-right: 10px;
}
a {
  color: white;
}

/* Body container */
.main-container {
  padding-top: 69px;
  display: flex;
  position: absolute;
  height: 700px;
  width: 100%;
  justify-content: center;
}

/* Splice One */
.mission-banner {
  padding-top: 70px;
  width: 1200px;
  height: 700px;
  background-image: url('../media/img-mission-background.jpg');
  z-index: 2;
  overflow:hidden;
  }
  .banner-container.main.mission-overlay {
    background-color: black;
    justify-content: center;
    align-items: center;

  }
