body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  text-align: center;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/*Container */
.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

/* Header */
header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
  }

header img {
  height: 50px;
  margin-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}
nav span {
  display: inline-block;
  flex-wrap: nowrap;
  padding: 20px 10px;
}

a {
  color: seashell;
  text-decoration: underline;
}

/* Body container */
.main-container {
  /* opacity: 0.9 (here?) */
  padding-top: 70px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  margin: auto;
  width: 100%;
  justify-content: center;
  }

/* Splice One */
#mission {
  width: 1200px;
  padding-top: 70px;
  height: 700px;
  background-image: url('../media/img-mission-background.jpg');
  align-items: center;
  }

  .content-overlay {
    background-color: black;
    width: 100%;
      }

  /*Splice Two */
  #featured {
    width: 1000px;
    height: 700px;
    padding-top: 70px;
    margin: auto;
    justify-content: center;
  }

.specials {
  justify-content: space-around;
}
  .card {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 270px;
    padding: 5px;
    }

.card img {
height: 200px;
margin: 10px;
  }

.card span {
display: block;
text-align: center;
width: 100%;
      }

/* Locations */
#locations {
  justify-content: center;
  padding-top: 70px;
  background-image: url('../media/img-locations-background.jpg');
  height: 500px;
  width: 1100px;
  }

.location {
  margin: 0px;
  padding-top: 5px;
}

  .location-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1.0;
    flex-basis: 280px;
    margin: 5px 20px;
    padding: 10px;
    background-color: black;
    }

  /*Contact Section */
  #contact {
    height: 200px;
    background-color: black;
    width: 100%;
  }

  .details {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  /* Footer */
  footer {
    position: static;
    margin-left: 20px;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    text-align: left;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    width: 100%;
    margin-top: 70px;
  }
